* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #0f2027, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 420px;
    padding: 35px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,255,255,0.15);
    text-align: center;
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

h1 {
    font-size: 26px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #00f2fe, #4facfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 14px;
    opacity: 0.85;
    margin-bottom: 25px;
}

nav {
    margin-bottom: 25px;
}

nav a {
    color: #aaa;
    margin: 0 8px;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

nav a:hover {
    color: cyan;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0.6);
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, cyan, #00ff99);
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px cyan;
}

.result {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.approved {
    color: #00ff99;
    text-shadow: 0 0 15px #00ff99;
}

.rejected {
    color: #ff4d4d;
    text-shadow: 0 0 15px #ff4d4d;
}
.dashboard {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    animation: slideUp 0.8s ease;
}

@keyframes slideUp {
    from { transform: translateY(40px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.dashboard.green {
    background: rgba(0,255,153,0.15);
    box-shadow: 0 0 25px rgba(0,255,153,0.6);
}

.dashboard.red {
    background: rgba(255,77,77,0.15);
    box-shadow: 0 0 25px rgba(255,77,77,0.6);
}

.btn-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-outline {
    background: transparent;
    border: 1px solid cyan;
    color: cyan;
}
